__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
venv_mac/
build/
dist/
*.exe
models/
backups/
workdir/
scratch/
*.log
*.tmp
.idea/
.vscode/
*.spec
_internal_/
_internal/ffmpeg
_internal/whisper-cli
C/
C:/
